body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav, .nav-links {
    display: flex;
}

nav {
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 1.1rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(116, 115, 115);
}

.home {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.home h1 {
    font-size: 36px;
    color: black;
}

.home p {
    font-size: 18px;
    color: black;
}

.about_us {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.about_us h1 {
    font-size: 36px;
}

.products {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.products h1 {
    font-size: 36px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.product-col {
    flex: 1;
    padding: 10px;
}

.promos {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.promos h1 {
    font-size: 36px;
}

.contact_us {
    padding: 20px;
    text-align: center;
    background-color: white;
}
.contact_us h1 {
    font-size: 36px;
}

,.contact_us a {
    display: inline-block;
    padding: 10px 20px;
    background-color: beige;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.contact_us a:hover {
    background-color: grey;
}

:root {
    --primary-color: #333
    --secondary-color: #ddd
    --background-color: #white
}

@media only screen and (max-width: 768px)

{.row { flex-wrap: wrap;}}

.product-col, .product-promos {
    flex: 100%;
    margin: 10px 0;
}

@media only screen and (max-width: 480px)

{ .nav-links a { padding: 10px 8px}}

.home h1, .about h1, .product h1, .promos h1, .contact_us h1 {
    font-size: 24px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

h1,h2,h3 {
    margin: 0;
}

h1:first-child, h2:first-child, h3:first-child {
    font-weight: normal;
}

p {
    margin: 10px 0;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.box_1 {
    background-color: rgba(0, 0, 0, 0.1);
}
.box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-col:nth-child(even) {
    background-color: var(--secondary-color);
}

.product-promos:nth-child(2) {
    background-color: var(--primary-color);
    color: #fff;
}
.product-promos:nth-child(2)
h2 {
    color: #fff;
}